@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,100);

html {
  font-family: 'Roboto', sans-serif;
}

.card img {
  padding: 60px;
  box-sizing: border-box;
}

.card {
  padding: 5px 15px;
}

.main-wrapper {
  padding-left: 350px;
}

@media only screen and (max-width : 992px) {
  .main-wrapper {
    padding-left: 0;
  }
}

.side-nav {
  width: 300px;
}

.sidebar-brand {
  pointer-events: none;
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  margin-bottom: 15px;
  text-align: center;
}


/* Sidebar Styles */
/*.sidebar {
  background-color: #1a1a1a;
  background-size: cover;
  display: inline-block;
  height: auto;
}

#sidebar-wrapper {
  height: 100%;
}

.sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    bottom: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}*/
