@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,100);

html {
  font-family: 'Roboto', sans-serif;
}

.card img {
  padding: 50px;
  box-sizing: border-box;
}

.card .card-image {
  width: 350px;
  height: 280px;
}

.card .card-title {
  font-size: 22px;
}
/*.card {
  margin: 5px 15px;
}*/

.main-wrapper {
  padding: 30px 40px 0 350px;
}

nav {
  background-color: #1a1a1a;
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .main-wrapper {
    padding: 0 0 0 40px;
  }

  nav {
    padding: 0;
  }

  .nav-wrapper {
    display: none;
  }
}


.mdi-navigation-menu {
  padding-left: 10px;
}

.side-nav {
  width: 300px;
  overflow: hidden;
  left: 0;
  position: fixed;
}

/* Materialize override*/
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

.fixed-action-btn {
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.btn-floating {
  z-index: 30;
}

#search {
  text-indent: 20px;
}

.search-icon {
  padding-left: 10px;
}

/* Sidebar Styles */

.side-nav a, .side-nav li {
  padding: 0 !important;
}

.side-nav.fixed a {
  color: #fff;
}

.sidebar-nav {
    margin: 0;
    background-color: #3F51B5;
}

.sidebar-nav li {
    text-indent: 40px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #212121;
    background: rgba(255,193,7,0.7);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    pointer-events: none;
    margin-bottom: 15px;
    /*text-align: center;*/
    /*text-indent: 0;*/
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}
