<!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                  <h4>Pop Collector</h4>
              </a>
          </li>
          <li>
              <a href="#">My Collection</a>
          </li>
          <li>
              <a href="#">ISO List</a>
          </li>
          <li>
              <a href="#">News</a>
          </li>
          <li>
              <a href="#">Coming Soon</a>
          </li>
          <li>
              <a href="#">Links</a>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
  </div>
<!-- /#sidebar-wrapper -->
