<nav>
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" data-ng-model="query">
        <label for="search"><i class="material-icons search-icon">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
  <!-- Sidebar -->
  <ul id="slide-out" class="side-nav fixed sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            <h4>Pop Collector</h4>
        </a>
    </li>
    <!-- <li class="search">
      <div class="search-wrapper">
        <input id="search" type="search"><i class="material-icons">search</i>
        <div class="search-results"></div>
      </div>
    </li> -->
    <li class="my-collection">
        <a href="#">My Collection</a>
    </li>
    <li>
        <a href="#">ISO List</a>
    </li>
    <li>
        <a href="#">News</a>
    </li>
    <li>
        <a href="#">Coming Soon</a>
    </li>
    <li>
        <a href="#">Links</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">Contact</a>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse" data-ng-click="toggleMenu()"><i class="mdi-navigation-menu"></i></a>
</nav>
